html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  color: #FFF;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #333;
  background: no-repeat center center relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p, h2 {
  margin: 0;
  padding: 0;
}

.island {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px #22313F;
  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  padding: 6px;
  transition: opacity 1s ease;
}

.quote {
  font-weight: 300;
  font-size: 28px;
}

.author {
  font-size: 20px;
  color: #4CAF50;
  text-align: right;
  margin-right: 10px;
}

.social-btns {
  text-align: left;
  margin-left: 10px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 768px) {
  .quote {
    font-size: 17px;
  }

  .author {
    font-size: 15px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .quote {
    font-size: 22px;
  }

  .author {
    font-size: 19px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .quote {
    font-size: 22px;
  }

  .author {
    font-size: 19px;
  }
}
