html, body {
  height: 100%;
}

body {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 300;
  color: #FFF;
  text-align: center;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: #333;
  background: no-repeat center center relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
  color: rgb(222, 237, 229);
}

a:hover {
  text-decoration: underline;
  opacity: 1;
}

p {
  margin: 0;
  padding: 0;
}

.island {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px #22313F;
  transition: opacity 1s ease;
}

.quote-area {
  cursor: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -khtml-user-select: text;
  -ms-user-select: text;
  user-select: text;
  background-color: rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  padding: 6px;
}

.quote {
  font-size: 28px;
}

.author {
  font-size: 20px;
  color: #4CAF50;
  text-align: right;
  margin-right: 10px;
}

.row {
  margin-top: 5px;
}

.row-item {
  display: inline-block;
  vertical-align: top;
  width: 48.5%;
}

.row-item:first-child {
  text-align: left;
}

.row-item:last-child {
  cursor: text;
  text-align: right;
  opacity: 0.5;
  margin-right: 5px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
}

@media (max-width: 585px) {
  .quote {
    font-size: 20px;
    }

  .author {
    font-size: 17px;
}

  .row-item:first-child {
    margin-left: 0;
    max-width: 38.5%;
  }

  .row-item:last-child {
    margin-right: 0;
    font-size: 14px;
    width: 59%;
  }

  .social-btn {
    margin-left: 0;
  }
}


@media (min-width: 585px) and (max-width: 768px) {
  .quote {
    font-size: 20px;
  }

  .author {
    font-size: 17px;
  }

  .row-item:first-child {
    margin-left: 0;
    max-width: 40%;
  }

  .row-item:last-child {
    margin-right: 0;
    font-size: 14px;
    width: 58%;
  }

  .social-btn {
    margin-left: 2px;
  }

  .social-btn:first-child {
    margin-left: 0;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .quote {
    font-size: 22px;
  }

  .author {
    font-size: 19px;
  }
}
